body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timer {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.btn {
  margin: 10px;
}

div.controls {
  padding: 20px;
}

div.splitTimeList {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.list-group {
  width: 400px;
}

div.list-group-item{
  text-align: center;
}
